<h3>
    ACADES
    <small class="text-muted">Consultoria e Soluções em Data Analytics</small>
</h3>
<div class="row mt-3 mb-3">
    <div class="col-12 h5 text-info">
        Missão
    </div>
</div>
<div class="row mt-3 mb-3">
    <div class="col-12">
        <p class="lead">
            Criar ferramentas que ajudem no desenvolvimento de produtos sustentáveis, limpos e acessíveis a todos, a
            fim de contribuir na evolução da humanidade no viés social, familiar, educativo e alimentar.
        </p>
    </div>
</div>
<div class="row mt-5">
    <div class="col-2">&nbsp;</div>
    <div class="col-2"><img src="../../assets/images/icon_azure_service.png" class="img-fluid" style="max-height: 50px;" /></div>
    <div class="col-2"><img src="../../assets/images/icon_aws_service.png" class="img-fluid" style="max-height: 50px;" /></div>
    <div class="col-2"><img src="../../assets/images/icon_etl_service.png" class="img-fluid" style="max-height: 50px;" /></div>
    <div class="col-2"><img src="../../assets/images/icon_agile_service.png" class="img-fluid" style="max-height: 50px;" /></div>
    <div class="col-2">&nbsp;</div>
</div>

<div class="container-fluid mt-2 mb-3 home_top seccion_fullwidth background_color_black">
    <div class="container" style="margin-left: 10vw; padding: 5px 0">
        <div class="row">
            <div class="col-12 home_top_background img-responsive shadow p-3 mb-5 bg-white" style="width: 1200px; height: 543px;"></div>
        </div>
    </div>
</div>

<div class="row mt-4 mb-3">
    <div class="col-5">
        <div class="container">
            <div class="row">
                <div class="col-12 h5 text-info">
                    Qual Nosso Principal Objetivo?
                </div>
            </div>
            <div class="row mt-3 mb-2">
                <div class="col-12">
                    <p class="lead text_color_lead">
                        Transformar dados em conhecimento analítico com o objetivo de tornar as tomadas de decisões de nossos
                        clientes mais assertivas, ajudando-os a ganhar mais e perder menos.
                    </p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12">
                    <p>
                        Desenvolvemos soluções de Big Data Analytics e Inteligência Artificial que geram
                        precisão e otimização nas tomadas de decisão e aumentam a produtividade nos processos de Marketing,
                        Compliance, Prevenção Anti Fraudes, Análise Financeira e Jurídica, Gestão de Crédito, além de outros pontos.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1">&nbsp;</div>
    <div class="col-6 float-right">
        <div class="shadow p-3 mb-3 bg-white rounded">
            <img src="../../assets/images/analytics_dashboard.png" class="rounded img-responsive img-fluid" />
        </div>
    </div>
</div>

<div class="container-fluid mt-2 mb-3 seccion_fullwidth background_color_black">
    <div class="container" style="margin-left: 10vw; padding: 5px 0">
        <div class="row">
        </div>
    </div>
</div>


<div class="row mt-3 mb-5">
    <div class="col-12">
    </div>
</div>



