* {
  margin: 0;
  padding: 0;
}


.seccion_fullwidth {
  z-index: 11;
  width: 102%;
  margin-left: -1vw;
  position: relative;
  align-content: center;
}

.home_top_background img {
  width: 100%;
}

.home_top {
  height: 38vw;
}

.image-logo {
  background-image: url("../../assets/images/logo-header.png");
}

.text_color_lead {
  color: #3f78ba;
}

.background_color_prata {
  background-color: #e6e6e6;
}

.background_color_cinza_faixa {
  background-color: #ced2da;
}

.content_icons {
    height: 3vw;
    align-content: center;
}

.content_icons img {
  height: 3vw;
}

@media screen and (max-width: 960px) {
  .target_div_subject {
    margin-right: 1vw;
  }
  .values_div_subject {
    margin-left: 1vw;
  }
}

@media screen and (min-width: 961px) {
  .target_div_subject {
    margin-right: 2vw;
  }
  .values_div_subject {
    margin-left: 1vw;
  }
}
