<div class="row mt-3 mb-3">
    <div class="col-1"></div>
    <div class="col-10">
        <h3>
            ACADES
            <small class="text-muted">Consultoria e Soluções em Data Analytics</small>
        </h3>
    </div>
    <div class="col-1"></div>
</div>

<div class="row mt-3 mb-3">
    <div class="col-1"></div>
    <div class="col-10 h5 text-info">
        <b>Missão</b>
    </div>
    <div class="col-1"></div>
</div>

<div class="row mt-3 mb-3">
    <div class="col-1"></div>
    <div class="col-10">
        <p class="lead">
            Criar ferramentas que ajudem no desenvolvimento de produtos sustentáveis, limpos e acessíveis a todos, a
            fim de contribuir na evolução da humanidade no viés social, familiar, educativo e alimentar.
        </p>
    </div>
    <div class="col-1"></div>
</div>

<div class="row mt-3 mb-3">
    <div class="col-2 content_icons"></div>
    <div class="col-2 content_icons"><img src="../../assets/images/icon_azure_service.png" class="img-responsive img-fluid" /></div>
    <div class="col-2 content_icons"><img src="../../assets/images/icon_aws_service.png" class="img-responsive img-fluid" /></div>
    <div class="col-2 content_icons"><img src="../../assets/images/icon_etl_service.png" class="img-responsive img-fluid" /></div>
    <div class="col-2 content_icons"><img src="../../assets/images/icon_agile_service.png" class="img-responsive img-fluid" /></div>
    <div class="col-2 content_icons"></div>
</div>

<div class="row mt-2 mb-3 home_top seccion_fullwidth background_color_cinza_faixa">
    <div class="col-1"></div>
    <div class="col-10">
        <img src="../../assets/images/home_top.png" class="img-responsive img-fluid shadow" />
    </div>
    <div class="col-1"></div>
</div>

<div class="row mt-4 mb-3">
    <div class="col-1"></div>

    <div class="col-5">

        <div class="container">
            <div class="row">
                <div class="col-12 h5 text-info">
                    <b>Objetivo</b>
                </div>
            </div>
            <div class="row mt-3 mb-2">
                <div class="col-12">
                    <p class="lead text_color_lead">
                        Transformar dados em conhecimento analítico, tornando as tomadas de decisões acertivas,
                        resultando em lucro mais expressivos.
                    </p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12">
                    <p>
                        Desenvolvemos soluções de Big Data Analytics e Inteligência Artificial que geram
                        precisão e otimização nas tomadas de decisão, aumentam a produtividade nos processos de Marketing,
                        Compliance, Prevenção Anti Fraudes, Análise Financeira e Jurídica, Gestão de Crédito, além de outros pontos.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="col-1"></div>
    <div class="col-4 float-right">

        <div class="shadow p-3 mb-3 bg-white rounded">
            <img src="../../assets/images/analytics_dashboard.png" class="rounded img-responsive img-fluid" />
        </div>

    </div>

    <div class="col-1"></div>
</div>

<div class="row mt-2 mb-3 seccion_fullwidth background_color_cinza_faixa">
    <div class="col-1"></div>
    <div class="col-10">&nbsp;</div>
    <div class="col-1"></div>
</div>

<div class="row mt-3 mb-5">
    <div class="col-12">
    </div>
</div>



