<div class="row mt-3 mb-3">
    <div class="col-1"></div>
    <div class="col-10">
        <h3>
            Nossos
            <small class="text-muted"> serviços.</small>
        </h3>
    </div>
    <div class="col-1"></div>
</div>

<div class="row mt-3 pt-2 background_color_cinza_faixa">
    <div class="col-1"></div>
    <div class="col-10">
        <p class="title_divs txt-color-tm-blue">Data Analytics</p>
    </div>
    <div class="col-1"></div>
</div>

<div class="row mb-4 pb-4 background_color_cinza_faixa">
    <div class="col-1"></div>

    <div class="col-10">

        <div class="shadow p-1 mb-1 rounded bg-white ml-3" style="float: right; max-height: 350px;">
            <img src="assets/images/services_data_analytics.png" class="rounded img-responsive img-fluid pb-2" style="float: right; max-height: 350px;" />
        </div>

        <p class="introduction">
            Consiste em diferentes métodos de análise de dados, por meio de extração, transformação e carga para criação de Big Data. Com esses
            dados podemos desenvolver alguns tipos de análises sobre esses dados como : Análise descritiva (também conhecida como mineração de dados,
            é mais utilizada pela TI, onde o cientista de dados consegue extrair insights em tempo real), Análise diagnóstica (é pontual, medindo os
            resultados das ações e respondendo às famosas perguntas: “o que?”, “quando?”, “onde?” e “como?”), Análise preditiva (captura os dados de
            ambientes internos e externos à corporação, conseguindo, assim, extrair as tendências de consumo e a probabilidade de determinados
            eventos ocorrerem no futuro), Análise prescritiva (é o conjunto das análises descritiva e preditiva, sendo, por isso, a análise mais
            completa. Com a evolução contínua dessa metodologia, está caminhando para ser a mais utilizada) e Análise comportamental (utilizada para
            ter compreensão e aprofundamento dos consumidores e clientes).
        </p>
        <p class="introduction">
            A análise comportamental consiste em analisar o comportamento dos consumidores, a compreensão do que fazem e como eles atuam. Isso ajuda
            a empresa a detectar o que os seus clientes querem e como elas podem reagir no futuro. Já se utiliza isso, mas a análise comportamental deve ser mais do que apenas rastrear pessoas. A novidade é que estão sendo aperfeiçoados os
            estudos de voz, reconhecimento facial e análise textual.
        </p>

    </div>
    <div class="col-1"></div>
</div>



<div class="row mt-3 pt-2">
    <div class="col-1"></div>
    <div class="col-10">
        <p class="title_divs txt-color-tm-blue">Business Intelligence</p>
    </div>
    <div class="col-1"></div>
</div>

<div class="row mb-4 pb-4">
    <div class="col-1"></div>

    <div class="col-10">

        <div class="shadow p-1 mb-1 rounded bg-white ml-3" style="float: right; max-height: 350px;">
            <img src="assets/images/services_business_intelligence.png" class="rounded img-responsive img-fluid pb-2" style="float: right; max-height: 350px;" />
        </div>

        <p class="introduction">
            Business intelligence (BI), termo que pode ser traduzido como inteligência empresarial ou inteligência de negócios, é um processo que auxilia na tomada de decisões de um gestor.
        </p>
        <p class="introduction">
            Ele se baseia na coleta de dados brutos, que serão transformados em informações úteis para orientar as ações das empresas.
        </p>
        <!--<p class="introduction">
            Um administrador de gerações mais antigas pode estar perguntando: “legal, mas qual é a novidade?”.
        </p>
        <p class="introduction">
            É uma boa pergunta, porque embora o uso desse termo seja recente no Brasil, isso não significa que, em épocas anteriores, os empreendedores tateavam no escuro para tomar suas decisões.
        </p>
        <p class="introduction">
            Eles tinham seus meios para coletar informações úteis para sua área de atuação.
        </p>
        <p class="introduction">
            Mas nada se compara ao que existe hoje.
        </p>
        <p class="introduction">
            A tecnologia avança a passos largos a cada semana, e a consequência disso é que as opções de ferramentas de consulta e fontes de informação são muito mais vastas.
        </p>
        <p class="introduction">
            E a quantidade de dados disponíveis também é absurdamente maior hoje.
        </p>
        <p class="introduction">
            Para se ter uma ideia, 90% do conteúdo da internet foi criado desde 2016, de acordo com estudo IBM Marketing Cloud.
        </p>
        <p class="introduction">
            Eis o big data, conceito sobre o qual falaremos mais adiante. Antes disso, você precisa entender melhor qual a importância do business intelligence.
        </p>-->
        <p class="introduction">
            Os processos de business intelligence são usados para auxiliar na tomada de decisões. Desse modo, a empresa reduz os riscos aos quais está exposta. E quem utiliza o business intelligence para embasar suas decisões está sempre um passo à frente de quem não usa.
        </p>
        <p class="introduction">
            O resultado da coleta e análise de dados é a possibilidade de atuar de maneira mais estratégica, pois cada movimento terá um razão de existir.
        </p>
        <p class="introduction">
            Os insights obtidos nos processos de BI funcionam como um farol para nortear as ações da empresa. Essa abordagem é importante tanto em um cenário macro – na hora de posicionar a empresa no mercado ou conceber um novo produto, por exemplo – quanto micro – como no conteúdo de uma publicação em uma rede social.
        </p>
        <p class="introduction">
            No fim, além do menor risco, o gestor verá um retorno sobre investimento (ROI) maior, pois ele apostará menos. Em vez disso, dará tiros certeiros.
        </p>
        <p class="introduction">
            A diminuição nos custos também acontecerá porque ele terá mais agilidade, processos otimizados e perderá menos tempo com análises infrutíferas.
        </p>
        <p class="introduction">
            E, se houver um equívoco, a medição de desempenho e resultados, outra premissa do business intelligence, facilitará a correção dos rumos do projeto em questão.
        </p>
    </div>
    <div class="col-1"></div>
</div>



<div class="row mt-3 pt-2 background_color_cinza_faixa">
    <div class="col-1"></div>
    <div class="col-10">
        <p class="title_divs txt-color-tm-blue">Data Science</p>
    </div>
    <div class="col-1"></div>
</div>

<div class="row mb-4 pb-4 background_color_cinza_faixa">
    <div class="col-1"></div>

    <div class="col-10">

        <div class="shadow p-1 mb-1 rounded bg-white ml-3" style="float: right; max-height: 350px;">
            <img src="assets/images/services_data_science.png" class="rounded img-responsive img-fluid pb-2" style="float: right; max-height: 350px;" />
        </div>

        <p class="introduction">
            É uma área interdisciplinar que implementam técnicas de análise de dados econômicos, financeiros e sociais, estruturados e não-estruturados,
            que visa a extração de conhecimento, detecção de padrões e/ou obtenção de variáveis para possíveis tomadas de decisão. Ciência de dados
            enquanto campo existe há 30 anos, porém ganhou mais destaque nos últimos anos devido a alguns fatores como o surgimento e popularização de
            grandes bancos de dados e o desenvolvimento de áreas como machine learning. Cientistas de Dados podem trabalhar no setor privado, por exemplo,
            transformando grande quantidade de dados brutos em insights de negócios, auxiliando empresas em tomadas de decisões para atingir melhores
            resultados[1] ou na academia e terceiro setor como pesquisadores quantitativos.
        </p>
        <p class="introduction">
            Atualmente o volume de dados gerado por ações online, como uma simples curtida no Facebook ou até o upload de vídeos ou fotos no Instagram,
            é enorme. Junto com esse aumento na geração de dados também aumentou a nossa capacidade de processamento. Desde os anos 1970 a cada dois
            anos a nossa capacidade de processamento praticamente dobrou. E com esse grande aumento na quantidade de dados e na capacidade de processamento,
            um novo conceito surgiu, o Big Data. E com a necessidade de analisar e tentar extrair desse grande volume de dados informações úteis, surge a
            Ciência de dados, que também é considera como uma versão mais recente do Busines Intelligence.[3] Mas apesar das semelhanças, as duas
            ciências possuem funções e abordagens diferentes. Enquanto Busines Intelligence utiliza uma análise de dados "descritiva" ou "retrospectiva"
            para tentar responder a pergunta "o que aconteceu?", a ciência de dados faz uso da análise preditiva e tenta descobrir "o que vai, ou pode
            acontecer?".
        </p>
    </div>
    <div class="col-1"></div>
</div>



<div class="row mt-3 pt-2">
    <div class="col-1"></div>
    <div class="col-10">
        <p class="title_divs txt-color-tm-blue">Machine Learn</p>
    </div>
    <div class="col-1"></div>
</div>

<div class="row mb-4 pb-4">
    <div class="col-1"></div>

    <div class="col-10">

        <div class="shadow p-1 mb-1 rounded bg-white ml-3" style="float: right; max-height: 350px;">
            <img src="assets/images/services_machine_learning.png" class="rounded img-responsive img-fluid pb-2" style="float: right; max-height: 350px;" />
        </div>

        <p class="introduction">
            Por meio de algoritmos e big data, identificando padrões de dados e criando conexões entre eles para aprender a executar uma tarefa sem a ajuda humana e de forma inteligente.
        </p>
        <p class="introduction">
            Esses algoritmos usam análises estatísticas para prever respostas mais precisamente e entregam o melhor resultado preditivo com menos chance de erro.
        </p>
        <p class="introduction">
            Essa tecnologia pode ser separada em duas categorias principais: supervisionada ou não supervisionada.
        </p>
        <p class="introduction">
            Os algoritmos supervisionados são aqueles em que o ser humano precisa interagir controlando a saída e entrada de dados e interfere no treinamento da máquina fazendo comentários sobre a precisão das previsões. Por fim, a máquina aplica o que foi aprendido no seu algoritmo para a próxima análise.
        </p>
        <p class="introduction">
            Já na categoria não supervisionada, os algoritmos utilizam o deep learning (aprendizagem profunda) para processar tarefas complexas sem o treinamento humano.
        </p>
    </div>
    <div class="col-1"></div>
</div>



<div class="row mt-3 pt-2 background_color_cinza_faixa">
    <div class="col-1"></div>
    <div class="col-10">
        <p class="title_divs txt-color-tm-blue">Inteligência Artificial</p>
    </div>
    <div class="col-1"></div>
</div>

<div class="row mb-4 pb-4 background_color_cinza_faixa">
    <div class="col-1"></div>

    <div class="col-10">

        <div class="shadow p-1 mb-1 rounded bg-white ml-3" style="float: right; max-height: 350px;">
            <img src="assets/images/services_ia.png" class="rounded img-responsive img-fluid pb-2" style="float: right; max-height: 350px;" />
        </div>

        <p class="introduction">
            Ainda que às vezes passe despercebida, a inteligência artificial (IA) é uma realidade cada vez mais presente. E, ao contrário do que possam nos fazer acreditar certos filmes de ficção científica, essa tecnologia tem a função de facilitar as operações, trazendo mais agilidade e qualidade de vida.
        </p>
        <p class="introduction">
            Em um momento de ruptura dos processos analógicos, é propício que as empresas apostem na IA para otimizar suas atividades. A tecnologia tem sido impulsionada pelos avanços em cloud computing, pelos aprendizados de máquina e pelos algoritmos modernos. Isso permite uma revolução em diversos dos setores da companhia, como logística, segurança e atendimento ao público.
        </p>
        <p class="introduction">
            O interesse em aplicar a inteligência artificial nos negócios tem permitido uma redução significativa nos preços dos sistemas, já que a concorrência no setor está se acirrando. Com as soluções tecnológicas ficando mais acessíveis às organizações, sua marca pode aproveitá-las para aperfeiçoar os processos e se projetar em direção ao sucesso.
        </p>
        <p class="introduction">
            A inteligência artificial pode transformar diversos setores da companhia, como: Computação em nuvem, Assistentes pessoais e Atendimento ao cliente.
        </p>
    </div>
    <div class="col-1"></div>
</div>










