<div class="row mt-3 mb-3">
    <div class="col-1"></div>
    <div class="col-10">
        <h3>
            Venha
            <small class="text-muted"> fazer parte da nossa história, e fazer a sua história.</small>
        </h3>
    </div>
    <div class="col-1"></div>
</div>

<div class="row mt-3 mb-3">
    <div class="col-1"></div>

    <div class="col-10" ng-non-bindable>

        <div class="shadow p-1 mb-3 bg-white">

            <div id="carouselCarrer" class="carousel " data-ride="carousel" data-interval="1000">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/images/carrer_banner.jpg" class="img-responsive img-fluid shadow" />
                        <div class="carousel-caption d-none d-md-block">
                            <p class="txt-color-tm-white txt-shadow pb-5" style="font-size: 2vw;"><strong>Se você tem espírito empreendedor, tem tudo para crescer conosco...<br /><br /><br /><br /><br /><br /><br /></strong></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="col-1"></div>
</div>

<div class="row mt-3 mb-3">
    <div class="col-1"></div>

    <div class="col-10">
        <div class="d-flex justify-content-center align-items-center ">
            <form [formGroup]="form" (ngSubmit)="enrollment()">

                <div class="card p-3 card-form">

                    <div class="form-group">
                        <label for="nome">Nome Completo</label>
                        <input type="text" id="nome" class="form form-control input-name" formControlName="nome"
                               [ngClass]="{'is-invalid': nome.invalid && (nome.dirty || nome.touched), 'is-valid': nome.valid && (nome.dirty || nome.touched)}">
                        <div class="form-control-feedback" *ngIf="nome.errors && (nome.dirty || nome.touched)">
                            <p *ngIf="nome.errors.required">O nome é Obrigatório.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" class="form form-control input-email" formControlName="email"
                               [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched), 'is-valid': email.valid && (email.dirty || email.touched)}">
                        <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                            <p *ngIf="email.errors.required">O Email é Obrigatório.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="document">CPF</label>
                        <input type="text" id="document" class="form form-control input-document" formControlName="document"
                               [ngClass]="{'is-invalid': document.invalid && (document.dirty || document.touched), 'is-valid': document.valid && (email.dirty || document.touched)}">
                        <div class="form-control-feedback" *ngIf="document.errors && (document.dirty || document.touched)">
                            <p *ngIf="document.errors.required">O CPF é Obrigatório.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" id="password" class="form form-control input-password" formControlName="password"
                               [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched), 'is-valid': password.valid && (password.dirty || password.touched)}">
                        <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
                            <p *ngIf="password.errors.required">A Senha é Obrigatória.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="filterProductId">Cargo</label>
                        <ng-select bindLabel="description"
                                   bindValue="id"
                                   [(ngModel)]="cargoIds"
                                   [closeOnSelect]="true"
                                   [searchable]="true"
                                   [multiple]="true"
                                   [items]="roles">
                        </ng-select>
                        <div class="form-control-feedback" *ngIf="filterProductId.errors && (filterProductId.dirty || filterProductId.touched)">
                            <p *ngIf="filterProductId.errors.required">O Cargo é obrigatório.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="passwordCompare">Senha Novamente</label>
                        <input type="password" id="passwordCompare" class="form form-control input-password" formControlName="passwordCompare"
                               [ngClass]="{'is-invalid': passwordCompare.invalid && (passwordCompare.dirty || passwordCompare.touched), 'is-valid': passwordCompare.valid && (passwordCompare.dirty || passwordCompare.touched)}">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success float-right mr-4" type="submit" [disabled]="!form.valid">Enviar</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="col-1"></div>
</div>

