<div class="row mt-3 mb-3">
    <div class="col-1"></div>
    <div class="col-10">
        <h3>
            Casos
            <small class="text-muted"> de Suscesso.</small>
        </h3>
    </div>
    <div class="col-1"></div>
</div>

<div class="row mt-3 mb-3">
    <div class="col-1"></div>

    <div class="col-10">

        <div class="shadow p-1 mb-1 rounded bg-color-tm-yellow mr-3" style="float: left; max-height: 300px;">
            <img src="assets/images/customer_logo_duratex.jpg" class="rounded img-responsive img-fluid pb-2" style="float: left; max-height: 300px;" />
        </div>

        <p class="title_divs txt-color-tm-blue">Duratex S.A. - Consultoria de Engenharia de Dados e ETL</p>

        <p class="introduction">
            Foi o primeiro projeto onde otimizamos, recriamos e desenvolvemos novos processos de ETL baseados nos dados históricos e diários
            de vendas das indústrias controladas pela Duratex S.A. Os dados com origem dos Sistemas SAP e Salesforce, foram extraídos com
            apoio dos consultores de cada um dos sistemas. E as indústrias controladas pela Duratex são DECA, HYDRA, Durafloor e Ceusa.
            Criando uma base de dados sólida, filtrada e preparada para a aplicação de Dashboards de B.I. e algorítimos de Ciência de Dados,
            no qual foram gerados Forecasts com previsões precisas de projeções como seriam as vendas em 6 meses, 1 ano e até 2 anos para frente
            por setor de atividade, área demográfica ou tendências de consumo. O projeto chamado de Data Analytics foi fundamental para que
            essas indústrias tivessem maior clareza de estratégias para os próximos meses ou anos, com decisões mais assertivas e maiores vantagens
            competitivas sobre a concorrência, com menos disperdícios de recursos humanos, matéria-prima, dinheiro, tempo e consequentemente um
            expressivo aumento do lucro líquido efetivo.
        </p>
        <p class="introduction">
            Nesta época foi desenvolvido outro projeto junto com a equipe de transformação digital, para a construção de um portal para o
            agendamento de carga pelas transportadoras dentro dos complexos industriais. Este projeto consistiu no desenvolvimento de ETL
            para popular uma base MongoDB com dados oriundos do  módulo de vendas do SAP. Esses dados são hoje, visualizados, alterados e
            confirmados como agendamento pelas transportadoras, com o agendamento, tinham acesso liberado pelas portarias das indústrias para a
            realização do carregamento dentro das indústrias. Isso melhorou o fluxo e a organização de saída de mercadorias, além de todo
            processo de logística e entrega.
        </p>


    </div>
    <div class="col-1"></div>
</div>

<div class="row mt-2 mb-3 pt-3 pb-3 seccion_fullwidth background_color_cinza_faixa">
    <div class="col-1"></div>
    <div class="col-10">

        <div class="shadow p-1 mb-1 rounded bg-color-tm-yellow mr-3" style="float: left; max-width: 300px;">
            <img src="assets/images/customer_logo_ltm.jpg" class="rounded img-responsive img-fluid" style="float: left; max-width: 290px;" />
        </div>

        <p class="title_divs txt-color-tm-blue">LTM - Consultoria em Desenvolvimento e Banco de Dados</p>

        <p class="introduction">
            O projeto "HUB de produtos" na LTM, consistiu no desenvolvimento de APIs de integração com o objetivo de intermediar o
            recebimento de requisições de listas de produtos e pedidos de troca da pontuação de fidelidade dos cartões de crédito dos
            cliente dos bancos por produtos de varejistas parceiros. Logo após a finalização e entrega deste projeto, iniciamos o
            desenvolvimento de uma mudança dentro do sistemas de mensageria entre os pontos de vendas, dentro de aeroportos e rodoviárias,
            e o sistema central a fim de fazer cotação e reservas de alugueis de carros da Movida em 2 meses foi entregue com sucesso.
        </p>

    </div>
    <div class="col-1"></div>
</div>

<div class="row mt-3 mb-3">
    <div class="col-1"></div>

    <div class="col-10">

        <div class="shadow p-1 mb-1 rounded bg-color-tm-yellow mr-3" style="float: left; max-width: 300px;">
            <img src="assets/images/customer_logo_ybymartech.gif" class="rounded img-responsive img-fluid" style="float: left; max-width: 290px;" />
        </div>

        <p class="title_divs txt-color-tm-blue">YBY Martech - Consultoria em Desenvolvimento de Soluções Web</p>

        <p class="introduction">
            Temos contrato de manutenção, sustenção, novos desenvolvimentos, além de cuidar da infra estrutura na nuvem da plataforma de
            incentivos de vendas e marketing "Universo" para o nosso cliente YBYMartech. O maior usuário desta plataforma é a Mercedes-Benz
            e seus concessionários.
        </p>

    </div>
    <div class="col-1"></div>
</div>


<div class="row mt-2 mb-3 pt-3 pb-3 seccion_fullwidth background_color_cinza_faixa">
    <div class="col-1"></div>
    <div class="col-10">

        <div class="shadow p-1 mb-1 rounded bg-color-tm-yellow mr-3" style="float: left; max-width: 300px;">
            <img src="assets/images/customer_logo_movida.jpg" class="rounded img-responsive img-fluid" style="float: left; max-width: 290px;" />
        </div>

        <p class="title_divs txt-color-tm-blue">Movida - Consultoria em Desenvolvimento</p>

        <p class="introduction">
            Desenvolvimento de mudanças dentro do sistemas de mensageria entre os pontos de vendas, dentro de aeroportos e rodoviárias,
            e o sistema central a fim de fazer cotação e reservas de alugueis de carros da Movida em 2 meses foi entregue com sucesso.
        </p>

    </div>
    <div class="col-1"></div>
</div>


