.background_color_cinza_faixa {
  background-color: #ced2da;
}

.seccion_fullwidth {
  z-index: 11;
  width: 102%;
  margin-left: -1vw;
  position: relative;
  align-content: center;
}

p.introduction:first-letter {
  font-family: 'Trebuchet MS', Times, Sans-Serif;
  font-size: 150%;
  font-weight: bold;
  width: 2em;
}

@media screen and (max-width: 960px) {
  p.introduction {
    font-size: 4vw;
    text-align: justify;
  }

}

@media screen and (min-width: 961px) {
  p.introduction {
    font-size: 1.5vw;
    text-align: justify;
  }
}


.bg-color-tm-yellow {
  background-color: #f3ba31;
}

.bg-color-tm-bluelight {
  background-color: #47a8de;
}

.bg-color-tm-blue {
  background-color: #3f78ba;
}

.bg-color-tm-bluedark {
  background-color: #2b3d4f;
}

.txt-color-tm-yellow {
  color: #f3ba31;
}

.txt-color-tm-bluelight {
  color: #47a8de;
}

.txt-color-tm-blue {
  color: #3f78ba;
}

.txt-color-tm-bluedark {
  color: #2b3d4f;
}

.txt-shadow {
  text-shadow: black 0.1em 0.1em 0.2em;
}



