<div class="row mt-3 mb-3">
    <div class="col-1"></div>
    <div class="col-10">
        <h3>
            Sobre
            <small class="text-muted">a Nossa Empresa</small>
        </h3>
    </div>
    <div class="col-1"></div>
</div>

<div class="row mt-3 mb-3">
    <div class="col-1"></div>

    <div class="col-10">
        <div class="shadow p-1 mb-1 rounded bg-color-tm-yellow mr-3" style="float: left; max-height: 300px;">
            <img src="../../assets/images/about_us_top.jpg" class="rounded img-responsive img-fluid pb-2" style="float: left; max-height: 300px;" />
            <!--<img src="../../assets/images/logo_marca_vertical.jpg" class="rounded img-responsive img-fluid pb-2 shadow p-1 mb-1 ml-3" style="float: right; max-height: 300px;" />-->
        </div>
        <p class="introduction">
            Fundada em 2018, pelo CEO Alex Pimenta, prestou serviços pontuais para algumas consultorias dentro de grandes
            empresas como Duratex, Durafloor, Deca, Hydra e Ceusa.
        </p>
        <p class="introduction">
            Na época o principal objetivo, foi a prestação de serviços como consultor no desenvolvimento de soluções para os diversos
            desafios que estavam no escopo do processo de Transformação Digital dentro do grupo Duratex S.A.
        </p>

        <p class="introduction">
            Somos especialistas em Processos de Transformação Digital, Análise de Dados, Inteligência de Negócios (B.I.), Ciência de Dados
            (Data Science), Inteligência Artificial (I.A.), Arquitetura e Engenharia de Dados, Consultoria em Desenvolvimento de Sistemas,
            Sistemas Web e ambientes das plataformas Microsoft Azure e Amazon AWS com arquitetura Software como Serviços (SaaS).
        </p>

        <p class="introduction">
            Com nossa experiência adquirida nas áreas de Business Inteligence e Data Science, temos o conhecimento fundamental para
            criar soluções que atendam as demandas mais atuais do mercado para alavancar os seus negócios, e tornar a sua empresa
            diferenciada em relação aos concorrentes. Otimzando processos, recursos, materia-prima, tempo e custos.
        </p>

    </div>

    <div class="col-1"></div>
</div>

<div class="row mt-2 pt-3 pb-3  mb-3 seccion_fullwidth background_color_cinza_faixa">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="shadow p-1 mb-1 mr-3 rounded-circle bg-color-tm-yellow" style="float: left; max-height: 300px;">
            <img src="../../assets/images/alex_profile_prof.png" class="rounded-circle img-responsive img-fluid pb-2" style="float: left; max-height: 300px;" />
        </div>
        <p class="introduction">
            Alex Pimenta, é o CEO da ACADES Consultoria Soluções em Data Analytics e Desenvolvimento de Softwares e Aplicativos Ltda.
            Com mais de 30 anos de experiência em desenvolvimento e análise de sistemas, fundou a empresa inicialmente, para
            prestar serviços como consultor individual.
        </p>
        <p class="introduction">
            Com seus 48 anos, e mais de 30 de profissão na área de tecnologia. Vem desde a década de 80 passando por vários tipos de
            tecnologias, linguagens de programação, arquitetura de desenvolvimento e dados. Hoje atua com as mais recentes tecnologias
            como Dotnet Core e Framework, desenvolvimento de App para plataformas móveis, Serviços Web, Aplicações Web, Microserviços,
            Python, Angular, React, Bootstrap, Oracle, MySQL, SQL Server, MariaDB, MongoDB, Redshift, PostgreSQL, SQLite, plataformas
            na nuvem SaaS Microsoft Azure e Amazon AWS.
        </p>
    </div>
    <div class="col-1"></div>
</div>
